.DS_Store
stash/*
_downloads/*
_tools/*
build/*
Patches.xcodeproj/project.xcworkspace/xcuserdata
Patches.xcodeproj/project.xcworkspace/xcshareddata/Patches.xccheckout
Patches.xcodeproj/project.xcworkspace/xcshareddata/
Patches.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
